html
        {            
            border: 0px;
            margin: 0px;
            padding: 0px;

        }
        body 
        {
            display: flex;
            border: 0px;
            margin: 0px;
            padding: 0px;
        }

        #all
        {
            display: flex;
            width: 100vw;
            height: 100vh;
            background-image: linear-gradient(to bottom right, rgb(188, 255, 224), rgb(231, 159, 255));
        }

        #logoHolder
        {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10%;
            border-radius: 5em 2em;
            border-width: 2em;
            border-style: solid;
            border-color: white;
            width: 60%;
            height: 50%;
            background-image: linear-gradient(to bottom right, rgb(207, 167, 227), rgb(255, 237, 197));
        
        }

        #logo
        {
            height: 100%;
        }